In [1]:
import geopandas as gpd
from shapely.geometry import Point, Polygon,LineString
import pandas as pd
import numpy as np
import pyproj
from pyproj import CRS

In [2]:
gpd.io.file.fiona.drvsupport.supported_drivers['KML'] = 'rw'
my_map = gpd.read_file('Autobahn_ohne_Tempolimit.kml', driver='KML')
my_map

     Name Description                                           geometry
0      A1              LINESTRING Z (6.82906 50.24845 0.00000, 6.8294...
1      A2              LINESTRING Z (9.80446 52.43088 0.00000, 9.8055...
2      A3              LINESTRING Z (11.18518 49.47010 0.00000, 11.18...
3      A3              LINESTRING Z (7.25608 50.70241 0.00000, 7.2587...
4     A31              LINESTRING Z (6.92829 51.56252 0.00000, 6.9284...
..    ...         ...                                                ...
133   A33              LINESTRING Z (8.55291 51.94193 0.00000, 8.5548...
134  A445              LINESTRING Z (8.35547 51.35991 0.00000, 8.3523...
135   A40              LINESTRING Z (6.59438 51.43530 0.00000, 6.5927...
136    A3              LINESTRING Z (10.94114 49.56810 0.00000, 10.94...
137    A9              LINESTRING Z (11.43370 49.64358 0.00000, 11.43...

[138 rows x 3 columns]

In [3]:
type(my_map)

geopandas.geodataframe.GeoDataFrame

In [4]:
# my_map = my_map.drop(my_map.index[1:])
# my_map


my_map = my_map.loc[my_map['Name'] == 'A92']
#df.loc[df['column_name'].isin(some_values)]
my_map

   Name Description                                           geometry
36  A92              LINESTRING Z (12.94628 48.82595 0.00000, 12.94...
37  A92              LINESTRING Z (12.06940 48.52696 0.00000, 12.06...

In [5]:
my_map = my_map.loc[[36]]
my_map

   Name Description                                           geometry
36  A92              LINESTRING Z (12.94628 48.82595 0.00000, 12.94...

In [6]:
my_map.reset_index(drop=True,inplace=True)
my_map

  Name Description                                           geometry
0  A92              LINESTRING Z (12.94628 48.82595 0.00000, 12.94...

In [7]:
pd.options.display.max_colwidth = 10000
print(my_map.geometry)

0    LINESTRING Z (12.94628 48.82595 0.00000, 12.94263 48.82155 0.00000, 12.94197 48.82077 0.00000, 12.94137 48.82013 0.00000, 12.94068 48.81941 0.00000, 12.93974 48.81850 0.00000, 12.93888 48.81772 0.00000, 12.93757 48.81660 0.00000, 12.93577 48.81519 0.00000, 12.93461 48.81437 0.00000, 12.93041 48.81156 0.00000, 12.92911 48.81064 0.00000, 12.92735 48.80935 0.00000, 12.92588 48.80819 0.00000, 12.92324 48.80604 0.00000, 12.91960 48.80302 0.00000, 12.91780 48.80159 0.00000, 12.91706 48.80109 0.00000, 12.91616 48.80052 0.00000, 12.91550 48.80015 0.00000, 12.91492 48.79985 0.00000, 12.91382 48.79935 0.00000, 12.91269 48.79891 0.00000, 12.91183 48.79860 0.00000, 12.91063 48.79823 0.00000, 12.90993 48.79804 0.00000, 12.90854 48.79770 0.00000, 12.90725 48.79747 0.00000, 12.90635 48.79735 0.00000, 12.90543 48.79727 0.00000, 12.90400 48.79718 0.00000, 12.90187 48.79718 0.00000, 12.90065 48.79723 0.00000, 12.89959 48.79732 0.00000, 12.89785 48.79752 0.00000, 12.89742 48.79760 0.00000, 12.89500 48.79815 0.00000, 12.89321 48.79863 0.00000, 12.88906 48.79980 0.00000, 12.88751 48.80021 0.00000, 12.88615 48.80053 0.00000, 12.88387 48.80100 0.00000, 12.88321 48.80112 0.00000, 12.88138 48.80142 0.00000, 12.87968 48.80165 0.00000, 12.87719 48.80195 0.00000, 12.87274 48.80221 0.00000, 12.86997 48.80222 0.00000, 12.86898 48.80220 0.00000, 12.86780 48.80217 0.00000, 12.86661 48.80211 0.00000, 12.86511 48.80201 0.00000, 12.86420 48.80193 0.00000, 12.86260 48.80177 0.00000, 12.86138 48.80161 0.00000, 12.85978 48.80138 0.00000, 12.85874 48.80121 0.00000, 12.85730 48.80095 0.00000, 12.85594 48.80067 0.00000, 12.85445 48.80034 0.00000, 12.85330 48.80006 0.00000, 12.85218 48.79976 0.00000, 12.85115 48.79946 0.00000, 12.85021 48.79917 0.00000, 12.84825 48.79852 0.00000, 12.84737 48.79820 0.00000, 12.84612 48.79773 0.00000, 12.84502 48.79727 0.00000, 12.84271 48.79623 0.00000, 12.84097 48.79537 0.00000, 12.83857 48.79401 0.00000, 12.83730 48.79324 0.00000, 12.83487 48.79159 0.00000, 12.83353 48.79049 0.00000, 12.83176 48.78908 0.00000, 12.82968 48.78753 0.00000, 12.82824 48.78652 0.00000, 12.82726 48.78589 0.00000, 12.82590 48.78509 0.00000, 12.82531 48.78477 0.00000, 12.82419 48.78421 0.00000, 12.82255 48.78346 0.00000, 12.82084 48.78278 0.00000, 12.81997 48.78246 0.00000, 12.81886 48.78209 0.00000, 12.81826 48.78190 0.00000, 12.81722 48.78160 0.00000, 12.81577 48.78123 0.00000, 12.81310 48.78062 0.00000, 12.80973 48.77999 0.00000, 12.80053 48.77830 0.00000, 12.79877 48.77794 0.00000, 12.79662 48.77743 0.00000, 12.79581 48.77722 0.00000, 12.79431 48.77678 0.00000, 12.79283 48.77630 0.00000, 12.79159 48.77585 0.00000, 12.79062 48.77547 0.00000, 12.78947 48.77501 0.00000, 12.78839 48.77450 0.00000, 12.78756 48.77410 0.00000, 12.78573 48.77314 0.00000, 12.78444 48.77236 0.00000, 12.78367 48.77187 0.00000, 12.78248 48.77107 0.00000, 12.78069 48.76970 0.00000, 12.77909 48.76832 0.00000, 12.76680 48.75726 0.00000, 12.76482 48.75554 0.00000, 12.76403 48.75489 0.00000, 12.76301 48.75410 0.00000, 12.76213 48.75347 0.00000, 12.76068 48.75254 0.00000, 12.75817 48.75115 0.00000, 12.75669 48.75045 0.00000, 12.75577 48.75004 0.00000, 12.75433 48.74948 0.00000, 12.75220 48.74872 0.00000, 12.74570 48.74672 0.00000, 12.74497 48.74647 0.00000, 12.74396 48.74610 0.00000, 12.74334 48.74586 0.00000, 12.74275 48.74561 0.00000, 12.74181 48.74518 0.00000, 12.74057 48.74456 0.00000, 12.73956 48.74397 0.00000, 12.73845 48.74325 0.00000, 12.73733 48.74241 0.00000, 12.73627 48.74149 0.00000, 12.73585 48.74110 0.00000, 12.73518 48.74041 0.00000, 12.73476 48.73990 0.00000, 12.73405 48.73897 0.00000, 12.73375 48.73855 0.00000, 12.73349 48.73813 0.00000, 12.73301 48.73729 0.00000, 12.73224 48.73557 0.00000, 12.73094 48.73219 0.00000, 12.73019 48.73054 0.00000, 12.72987 48.72990 0.00000, 12.72951 48.72929 0.00000, 12.72858 48.72791 0.00000, 12.72731 48.72644 0.00000, 12.72649 48.72561 0.00000, 12.72576 48.72493 0.00000, 12.72495 48.72421 0.00000, 12.72430 48.72367 0.00000, 12.72211 48.72210 0.00000, 12.72091 48.72132 0.00000, 12.72012 48.72084 0.00000, 12.71865 48.71999 0.00000, 12.71681 48.71897 0.00000, 12.71473 48.71791 0.00000, 12.71308 48.71708 0.00000, 12.70224 48.71185 0.00000, 12.69879 48.71005 0.00000, 12.69614 48.70861 0.00000, 12.69399 48.70736 0.00000, 12.69260 48.70653 0.00000, 12.69054 48.70526 0.00000, 12.68852 48.70396 0.00000, 12.68424 48.70111 0.00000, 12.68280 48.70024 0.00000, 12.68092 48.69918 0.00000, 12.68002 48.69870 0.00000, 12.67894 48.69814 0.00000, 12.67691 48.69715 0.00000, 12.67412 48.69591 0.00000, 12.67250 48.69524 0.00000, 12.67047 48.69448 0.00000, 12.66890 48.69391 0.00000, 12.66723 48.69335 0.00000, 12.66512 48.69270 0.00000, 12.66184 48.69179 0.00000, 12.65921 48.69118 0.00000, 12.65801 48.69092 0.00000, 12.65638 48.69060 0.00000, 12.65498 48.69030 0.00000, 12.65327 48.68992 0.00000, 12.65187 48.68959 0.00000, 12.65093 48.68935 0.00000, 12.64824 48.68859 0.00000, 12.64504 48.68766 0.00000, 12.64236 48.68697 0.00000, 12.64017 48.68646 0.00000, 12.63835 48.68608 0.00000, 12.63599 48.68565 0.00000, 12.63414 48.68536 0.00000, 12.63294 48.68519 0.00000, 12.62921 48.68473 0.00000, 12.62639 48.68448 0.00000, 12.62293 48.68413 0.00000, 12.61965 48.68375 0.00000, 12.61660 48.68330 0.00000, 12.61264 48.68268 0.00000, 12.60863 48.68199 0.00000, 12.59115 48.67855 0.00000, 12.58146 48.67668 0.00000, 12.56997 48.67440 0.00000, 12.56261 48.67282 0.00000, 12.56085 48.67241 0.00000, 12.55224 48.67054 0.00000, 12.54541 48.66902 0.00000, 12.54185 48.66804 0.00000, 12.53709 48.66654 0.00000, 12.53298 48.66510 0.00000, 12.53015 48.66416 0.00000, 12.52628 48.66305 0.00000, 12.52337 48.66237 0.00000, 12.51920 48.66153 0.00000, 12.51570 48.66095 0.00000, 12.51470 48.66082 0.00000, 12.51308 48.66061 0.00000, 12.51186 48.66048 0.00000, 12.50990 48.66028 0.00000, 12.50810 48.66014 0.00000, 12.50635 48.66003 0.00000, 12.50435 48.65992 0.00000, 12.49338 48.65947 0.00000, 12.48944 48.65929 0.00000, 12.48716 48.65914 0.00000, 12.48480 48.65894 0.00000, 12.48100 48.65851 0.00000, 12.47883 48.65822 0.00000, 12.47476 48.65762 0.00000, 12.47174 48.65703 0.00000, 12.46830 48.65626 0.00000, 12.46611 48.65570 0.00000, 12.46371 48.65502 0.00000, 12.46121 48.65428 0.00000, 12.45833 48.65334 0.00000, 12.45582 48.65249 0.00000, 12.45324 48.65159 0.00000, 12.45068 48.65074 0.00000, 12.45025 48.65059 0.00000, 12.44932 48.65030 0.00000, 12.44493 48.64898 0.00000, 12.44034 48.64781 0.00000, 12.43782 48.64719 0.00000, 12.43604 48.64679 0.00000, 12.43397 48.64634 0.00000, 12.43125 48.64580 0.00000, 12.42891 48.64537 0.00000, 12.42499 48.64473 0.00000, 12.42106 48.64418 0.00000, 12.41170 48.64305 0.00000, 12.40608 48.64229 0.00000, 12.40369 48.64193 0.00000, 12.40091 48.64149 0.00000, 12.39910 48.64122 0.00000, 12.39582 48.64067 0.00000, 12.39198 48.64000 0.00000, 12.38846 48.63935 0.00000, 12.38347 48.63836 0.00000, 12.37998 48.63769 0.00000, 12.37524 48.63689 0.00000, 12.37414 48.63672 0.00000, 12.37054 48.63627 0.00000, 12.36716 48.63587 0.00000, 12.36559 48.63573 0.00000, 12.36459 48.63564 0.00000, 12.36144 48.63540 0.00000, 12.35702 48.63511 0.00000, 12.35482 48.63495 0.00000, 12.35154 48.63462 0.00000, 12.34855 48.63424 0.00000, 12.34499 48.63371 0.00000, 12.34151 48.63309 0.00000, 12.33894 48.63257 0.00000, 12.33474 48.63164 0.00000, 12.33183 48.63094 0.00000, 12.32850 48.63007 0.00000, 12.32600 48.62938 0.00000, 12.32407 48.62881 0.00000, 12.32054 48.62773 0.00000, 12.31846 48.62704 0.00000, 12.31264 48.62505 0.00000, 12.31057 48.62435 0.00000, 12.30476 48.62246 0.00000, 12.30249 48.62174 0.00000, 12.29799 48.62037 0.00000, 12.29325 48.61898 0.00000, 12.28952 48.61793 0.00000, 12.28616 48.61701 0.00000, 12.28129 48.61572 0.00000, 12.27508 48.61416 0.00000, 12.26957 48.61286 0.00000, 12.26767 48.61243 0.00000, 12.26241 48.61127 0.00000, 12.25638 48.61001 0.00000, 12.25400 48.60949 0.00000, 12.25144 48.60887 0.00000, 12.25018 48.60854 0.00000, 12.24766 48.60783 0.00000, 12.24516 48.60707 0.00000, 12.24271 48.60624 0.00000, 12.24142 48.60578 0.00000, 12.23901 48.60486 0.00000, 12.23777 48.60437 0.00000, 12.23648 48.60383 0.00000, 12.23479 48.60309 0.00000, 12.23335 48.60242 0.00000, 12.23163 48.60158 0.00000, 12.22961 48.60054 0.00000, 12.22693 48.59907 0.00000, 12.22593 48.59848 0.00000)
Name: geometry, dtype: geometry

In [8]:
type(my_map)
gpd.geodataframe.GeoDataFrame

geopandas.geodataframe.GeoDataFrame

In [9]:
locations = pd.read_csv('lat_long_dataset.csv')
locations

        Unnamed: 0  OBJECTID   latitude  longitude
0                0         1  53.082133  12.521519
1                1         2  52.367678  13.614609
2                2         3  52.349021  14.069661
3                3         4  52.179830  12.757075
4                4         5  51.695730  13.249132
...            ...       ...        ...        ...
237989      237989    237990  50.444042   7.474374
237990      237990    237991  49.513484   8.153857
237991      237991    237992  50.319264   7.599165
237992      237992    237993  49.489181   8.366092
237993      237993    237994  49.412845   7.567753

[237994 rows x 4 columns]

In [10]:
locations=locations.iloc[[29500]]
locations

       Unnamed: 0  OBJECTID   latitude  longitude
29500       29500     29501  48.801851  12.876709

In [11]:
# locations['latitude']=locations['latitude'].round(decimals = 5)
# locations['longitude']=locations['longitude'].round(decimals = 5)
# locations

In [12]:
locations=locations.drop(['Unnamed: 0'],axis =1)
locations

       OBJECTID   latitude  longitude
29500     29501  48.801851  12.876709

In [13]:
geometric_points = []
for xy in zip(locations['longitude'], locations['latitude']):
   geometric_points.append(Point(xy))

In [14]:
geo_locations = gpd.GeoDataFrame(locations,
                                 crs = {'init': 'epsg:4326'},
                                 geometry = geometric_points)
geo_locations


# geo_locations = gpd.GeoDataFrame(locations,
#                                  crs = 'EPSG:4326',   
#                                  geometry = geometric_points)
# geo_locations

/Users/samettenha/opt/anaconda3/lib/python3.9/site-packages/pyproj/crs/crs.py:131: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

       OBJECTID   latitude  longitude                   geometry
29500     29501  48.801851  12.876709  POINT (12.87671 48.80185)

In [15]:
geo_locations['in_my_map'] = np.nan
geo_locations.head()

In [16]:
geo_locations.reset_index(drop=True,inplace=True)
geo_locations.head()

   OBJECTID   latitude  longitude                   geometry
0     29501  48.801851  12.876709  POINT (12.87671 48.80185)

In [17]:
# geo_locations['in_my_map'].loc[0] = my_map.geometry.geom_almost_equals(geo_locations.geometry.loc[0], decimal=3).values
# geo_locations.head(5)

In [18]:
# for i in range(0, len(geo_locations)):
#     point = geo_locations.geometry.loc[i]
#     check = my_map.contains(point).values
#     geo_locations['in_my_map'].loc[i] = check
# geo_locations.head(5)


for i in range(0, len(geo_locations)):
    point = geo_locations.geometry.loc[i]
    check = my_map.geometry.geom_almost_equals(point, decimal=3, align=True).values
    geo_locations['in_my_map'].loc[i] = check
geo_locations.head(5)


        
# for i in range(0, len(geo_locations)):
#     point = geo_locations.geometry.loc[i]
#     check = my_map.geometry.within(point, align=False).values
#     geo_locations['in_my_map'].loc[i] = check
# geo_locations.head(5)

KeyError: 'in_my_map'

In [ ]:
geo_locations.in_my_map.value_counts()